# OS stuff
.DS_Store

# NodeJS stuff
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.*.local

# Python stuff
venv
__pycache__

# Editors stuff
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
